@media only screen and (max-width: 1280px) {
    .modal-content {
        width: 50%;
    }
    .footer {
        visibility: hidden;
    }
    
    #footer {
        visibility: hidden;
    }
    
}

@media only screen and (max-width: 480px) {
    .modal-content {
        width: 50%;
    }
}

@media only screen and (max-width: 640px) {
    .modal-content {
        width: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .modal-content {
        width: 50%;
    }
}

@media only screen and (max-width: 320px) {
    .modal-content {
        width: 50%;
    }
}


