/* General settings */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url("../multimedia/background.jpg");
}

header {
    padding: 1%;
    margin-left: 3.5%; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004870;
}

li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover{
    background-color: #007AA4;
}

nav {
    margin-top: 2%;
    width: 80%;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:unvisited {
    color: white;
}

figcaption {
    text-align: center;
}

h1 {
    color: white;
    text-align: left;
    margin-left: 10px;
    font-family: Rockwell; 
    font-size: 36px
}

td {
    padding: 2%;
}